<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sourcey.materiallogindemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono_bondi"
        android:screenOrientation="portrait"
        android:label="Gestion de Encomiendas"

        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="Listado de Terminales">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"
                    android:screenOrientation="portrait"/>

                <category android:name="android.intent.category.LAUNCHER"
                    android:screenOrientation="portrait"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".AsignarEncomiendas"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_vista_coches"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".DialogEstados"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_dialog_estados_encomienda"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".MenuPrincipal"
            android:screenOrientation="portrait"
           android:label="@string/title_activity_menu_principal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DialogInformacion"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_vista_informacion"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity
            android:name=".RegistroGrupal"
            android:label="@string/title_activity_registro_grupal"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".BusquedaMasivaManual"
            android:label="@string/title_activity_menu_cambio_de_estado_escaner"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".BusquedaIndividual"
            android:screenOrientation="portrait"

            android:label="@string/title_activity_vista_busqueda_individual"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".ListadoCoches"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_vista_listado_coches"
            android:theme="@style/Theme.AppCompat" />
    </application>

</manifest>
