<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sourcey.materiallogindemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".MenuPrincipal"
            android:label="@string/title_activity_menu_principal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BusquedaMasivaEscaner"
            android:label="busqueda_masiva_escaner"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".RegistroIndividual"
            android:label="@string/title_activity_registro_individual"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegistroGrupal"
            android:label="@string/title_activity_registro_grupal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuCambioDeEstadoEscaner"
            android:label="@string/title_activity_menu_cambio_de_estado_escaner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuDetalleEncomienda"
            android:label="detalle_encomienda"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".DatosEncomienda"
            android:label="@string/title_activity_datos_encomienda"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
